/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* Center the content on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* container style */
.container {
    max-width: 900px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 15px 20px 20px rgba(197, 105, 39, 0.627);
}

/* header style */
header {
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}

/* logo style */
.logo {
    display: inline-block;
    padding: 10px;
}

.logo h1 {
    color: rgb(246 153 52);
    text-shadow: -4px 4px 7px rgb(115, 90, 68);
    font-size: 2em;
}

h3 {
    font-weight: bold;
}

.first a{
    color: rgb(148 139 139);
}

.second a {
    color: rgb(150, 17, 31);
}

/*aside styling*/
aside {
    float: right;
    width: 40%;
    padding: 10px;
    background-color: #fdebc6;

}

aside h4 {
    color: rgb(136, 63, 63);
    font-weight: bold;
    margin-top: 10px;
}

ul li {
    margin-bottom: 10px;
}

.asidecontainer{ 
    float: left;
    width: 50%;
}
.clearfix::after {
content: "";
display: table;
clear: both;    
}

/* main style */
main {
    margin: 5px;
    padding: 10px;
}

main ul {
    margin-left: 30px;
}

/* Added styling for blockquote */
blockquote {
    margin: 10px 0; 
    padding: 10px;
    font-style: italic;
    background-color: #f5f5f5;
}

/* footer style */
footer {
    margin: 10px;
    text-align: end;
    margin-top: 2em;
}

